@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');

* {
    margin:0;
    padding:0;
}

html {
    background-image: url(https://i.redd.it/4t15qhaoqir21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    font-family: 'Itim';
}

body {
    height: 100vh;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
}
.rows {
    margin: 30px;
    flex: 1;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
}
.top-row, .bottom-row {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 1%;
    flex-direction: column;
    height: 80%; 
}
.bottom-row {
    background-color: rgb(252, 110, 81, .89);
}
div.top {
    background-color: rgb(248, 214, 63, .89);
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 12px;
    box-shadow: 5px 5px 5px rgb(37, 36, 36);
    border-radius: 50%;
    min-width: 320px;
}
div.top.bee {
    font-size: 25px;
}
#clicker {
    height: 50%;
    max-width: 675px;
    cursor: pointer;
}
#clicker:hover {
    transform: scale(1.1);
}
div.header {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 40px;
    border-radius: 5%;
    
}
div#shop-button {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content:space-evenly;
    align-items: center;
    min-width: 405px;
    width: 80%;
}
button{
    box-shadow: 3px 3px 5px rgb(37, 36, 36);
    flex: 1;
    display: flex;    
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;
    letter-spacing: .08em;
    overflow: hidden;
    font-family: 'Itim';
    color:white;
    background-color:rgb(252, 110, 81);
    cursor: pointer;
    margin: 0.5rem;
    width: 80%;
    border-radius: 10%;
}
button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: scale(1.1);
}